body { margin-top:60px; }

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}

.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .panel-heading img {
    min-width: 180px;
}

.apple-pay {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.apple-pay-button {
  -webkit-appearance: -apple-pay-button; 
  -apple-pay-button-type: buy;
  visibility: hidden;
  display: inline-block;
  width: 200px;
  min-height: 30px;
  border: 1px solid black;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-size: 100% calc(60% + 2px);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0px;
  margin: 5px auto;
  transition: background-color .15s;
}

.apple-pay-button.visible {
  visibility: visible;
}

.apple-pay-button:active {
  background-color: rgb(152, 152, 152);
}
